{% extends 'travel/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}


{% block extend_nav %}

<ul class="sidenav">
  <li><a href="{% url 'travel:sign-in' %}">Sign In</a></li>
  <li><a href="{% url 'travel:sign-up' %}">Sign Up</a></li>
  <li><a class="active" href="javascript:void(0)">Forgotten Password</a></li>
</ul>

{% endblock %}


{% block content %}

<h3>Forgotten Password</h3>

<div class="container">

  <form id="requestpasswordform" method="POST" action="/forgotten-password">
    {% csrf_token %}
    <label for="email">Username</label>
    {{rp_form.email}}

    <button type="submit">Request New Password</button>
  </form>

  {{rp_form.errors}}

</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}